.header {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-shadow: 0 0 10px #00ff00;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu li:hover {
  text-shadow: 0 0 10px #00ff00;
}

.header-menu a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #141414;
  display: block;
}
