.container-geral {
  max-width: 1200px;
  border: 1px solid red;
  margin: 0 auto;
  margin-bottom: 1000px;
}

.container-geral a {
  text-decoration: none;
}

.container-geral h3 a {
  color: #1c1c1c;
}

.container-geral img {
  border: 3px solid var(--cor-12);
  border-radius: 4px;
}

.articles-titles {
  text-align: left;
  margin-bottom: 20px;
}

.articles-list li {
  border: 3px solid var(--cor-12);
  padding: 5px 5px;
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 10px;
}

.articles-desc {
  color: var(--cor-10);
}

.articles-list img {
  width: 180px;
  height: 120px;
  margin-right: 10px;
}

.articles-content {
  margin-left: 10px;
}

.articles-content h3 {
  font-size: 1.1rem;
}

.articles-mod-name {
  font-size: 0.8rem;
}
